# Airflow Config
AIRFLOW_UID="UID"
AIRFLOW__API_AUTH__JWT_SECRET="very-secret-and-long-jwt-secret"
AIRFLOW__API__SECRET_KEY="another-very-complicated-and-secret-key"
FERNET_KEY="a-very-secret-key !"

# Docker config
DOCKER_GID="999"
